# --- payment-backend ----------------------------------------------------
DATABASE_URL=postgres://demo:demo123@localhost:5432/payment
DB_MIGRATIONS_RUN=false
DB_SYNCHRONIZE=false
DB_LOGGING=false

GRPC_URL=0.0.0.0:5104
KAFKA_BROKERS=localhost:29092
ORKES_URL=http://localhost:8082
